<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=svso11nojw"
    ></script>
  </head>
  <body>
    <div style="width: 50%; height: 50%">
      <div id="map" style="width: 100%; height: 100%"></div>
    </div>

    <script>
      let arr = [
        [
          34.980768672422435, 126.4311310140685, 34.98051374425295,
          126.4320536939383, 34.9809928327433, 126.43227899948788,
          34.981221387732774, 126.43162990492833, 34.981047773904805,
          126.43125707788795,
        ],
        [
          34.98025546785405, 126.42954276761496, 34.97988599041434,
          126.4305198017815, 34.97923324286332, 126.43018159764692,
          34.979417983264156, 126.4298960030444, 34.97951133398879,
          126.42963630191488, 34.97946738023785, 126.42916959756215,
        ],
        [
          34.979032217838224, 126.43018917267595, 34.97824516676088,
          126.42981649590729, 34.977922602658616, 126.43071406953327,
          34.97871825847928, 126.43111824011336,
        ],
        [
          34.979111032305255, 126.4290178056548, 34.978617263676696,
          126.42877043917714, 34.97833595619183, 126.42974676322541,
          34.979004059890606, 126.43007935713197, 34.97913592181866,
          126.42960728836137, 34.97915350339303, 126.42928542329052,
        ],
        [
          34.97852356453171, 126.42874204405403, 34.97789994028387,
          126.42846628245327, 34.97760168353005, 126.42932665864764,
          34.97824338610933, 126.42965757256856,
        ],
        [
          34.979729171844056, 126.42805125735002, 34.97913368019059,
          126.42776776220876, 34.97913368019059, 126.42800486723598,
          34.979365964684035, 126.42855639414717, 34.97945043160919,
          126.4288965883167,
        ],
        [
          34.97809893602964, 126.42723974849616, 34.977290169287166,
          126.42688569690527, 34.97701764825966, 126.42778691913662,
          34.97776488116942, 126.42817315723575,
        ],
        [
          34.97721879541215, 126.42682744849634, 34.97648034859346,
          126.4264412103972, 34.97607595822839, 126.42738534797287,
          34.97697264721242, 126.42772867072766,
        ],
        [
          34.97642507760039, 126.4264123871189, 34.976293211307414,
          126.42635874293848, 34.975721788251, 126.42712049030065,
          34.97598552246475, 126.42730288051413,
        ],
      ];
      var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10,
      };

      var map = new naver.maps.Map("map", mapOptions);
      map.setMapTypeId(naver.maps.MapTypeId.SATELLITE);
      map.setCenter(
        new naver.maps.LatLng(34.97853285886776, 126.42913659770767)
      );
      map.setZoom(16);

      for (let i = 0; i < arr.length; i++) {
        let polygonPath = [];
        for (let j = 0; j < arr[i].length; j += 2) {
          polygonPath.push(new naver.maps.LatLng(arr[i][j], arr[i][j + 1]));
        }

        let color = "#ff0000";

        let polygon = new naver.maps.Polygon({
          map: map,
          paths: [polygonPath],
          fillColor: color,
          fillOpacity: 0.3,
          strokeColor: color,
          strokeOpacity: 0.6,
          strokeWeight: 3,
          clickable: true,
        });

        naver.maps.Event.addListener(polygon, "click", function () {
          //this.updateStatus();
          console.log("ing");
          polygon.setOptions({
            status: 1,
            fillColor: "#0000ff",
            strokeColor: "#0000ff",
          });
        });
      }

      setTimeout(function () {
        window.dispatchEvent(new Event("resize"));
      }, 0);
    </script>
  </body>
</html>
