<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />

    <title>Document</title>
  </head>
  <body>
    <div id="App"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <link rel="stylesheet" href="./src/code/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=svso11nojw"
    ></script>
    <script src="./src/code/fetches.js"></script>
    <script src="./src/code/window/MapWindow.js"></script>
    <script src="./src/code/modal/CowModal.js"></script>
    <script src="./src/code/list/List.js"></script>
    <script src="./src/code/list/CowList.js"></script>
    <script src="./src/code/list/RoomList.js"></script>
    <script src="./src/code/tab/section/CowCard.js"></script>
    <script src="./src/code/tab/section/HouseCard.js"></script>
    <script src="./src/code/tab/section/TerritoryStatusSection.js"></script>
    <script src="./src/code/tab/Tab.js"></script>
    <script src="./src/code/tab/OutlineTab.js"></script>
    <script src="./src/code/tab/HouseTab.js"></script>
    <script src="./src/code/tab/TerritoryTab.js"></script>
    <script src="./src/code/MainUI.js"></script>
    <script src="./src/code/App.js"></script>
    <script src="./src/code/main.js"></script>
  </body>
</html>
