<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <div id="App"></div>
    wtf??!!!
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />

    <script src="/home/hosting_users/gusdn0217/apps/src/Modal.js"></script>
    <script src="/home/hosting_users/gusdn0217/apps/src/ReadXlsx.js"></script>
    <script src="/home/hosting_users/gusdn0217/apps/src/Tab.js"></script>
    <script src="/home/hosting_users/gusdn0217/apps/src/CowTab.js"></script>
    <script src="/home/hosting_users/gusdn0217/apps/src/HouseTab.js"></script>
    <script src="/home/hosting_users/gusdn0217/apps/src/VaccinTab.js"></script>
    <script src="/home/hosting_users/gusdn0217/apps/src/MainUI.js"></script>
    <script src="/home/hosting_users/gusdn0217/apps/src/App.js"></script>
    <script src="/home/hosting_users/gusdn0217/apps/src/main.js"></script>
  </body>
</html>
