:root {
  /* color */
  --color-white: #ffffff;
  --color-gray: #424242;
  --color-beige: beige;
  --color-navy: #323c57;
  --color-font: white;
  --color-lightgray: #ebebeb;
  --color-green: #478e77;

  /* font size */
  --font-l: 23px;
  --font-m: 15px;
  --font-s: 14px;
  --font-ss: 10px;

  /* layout size */
  --layout-m: 50px;
  --layout-s: 20px;
  --layout-ss: 10px;
  --layout-nav-h: 60px;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-navy);
  font-family: "Noto Sans KR", sans-serif;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
}
* {
  padding: 0;
  margin: 0;
  font-size: var(--font-s);
  color: var(--color-font);
}

#App {
  height: 100%;
  width: 100%;
}

.MainDiv {
  height: calc(100% - var(--layout-nav-h));
}

.ContentDiv {
  height: calc(100% - var(--layout-s) * 2);
  padding: var(--layout-s);
  overflow-y: scroll;
}

.Header {
  width: 100%;
  padding: var(--layout-ss) 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header .Title {
  font-size: var(--font-l);
}

.Nav {
  width: 100%;
  height: var(--layout-nav-h);
  background-color: var(--color-white);
  border-top: solid var(--color-lightgray) 0.5px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Nav > * {
  width: 33%;
  height: 100%;
}

.SectionDiv {
  padding: var(--layout-s);
  margin: var(--layout-ss) 0;
  border-radius: 5px;
  background-color: #478e77;
  display: flex;
  flex-direction: column;
}

.SectionDiv .Title {
  margin-bottom: var(--layout-ss);
  font-size: var(--font-s);
}

.SectionDiv .RowContentDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SectionDiv .ColContentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.SectionDiv .BigElement {
  padding: 0 40px;
  font-size: var(--font-m);
}

.List {
  min-height: 100%;
  background-color: var(--color-white);
  color: black;
}

.ToolBar {
  width: calc(100% - var(--layout-s) * 2);
  height: 60px;
  background-color: var(--color-green);
  padding: 0 var(--layout-s);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.Button {
  color: white;
}

.SearchDiv {
  padding: var(--layout-ss) var(--layout-s);
  border-bottom: solid var(--color-lightgray) 0.5px;
  position: sticky;
  top: 60px;
  background-color: var(--color-white);
}

.Input {
  width: 100%;
  height: 35px;
  padding: 0 20px;
  border: solid 1px var(--color-lightgray);
  border-radius: 17px;
  color: black;
}

.ItemDiv {
  padding: 0 var(--layout-s);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  color: black;
}

.Item {
  padding: var(--layout-ss) 0;
  border-bottom: solid var(--color-lightgray) 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.Item * {
  font-size: var(--font-s);
  color: black;
  text-align: right;
}

.Item .ItemTitle {
  font-size: var(--font-m);
  padding: 0;
  height: auto;
}

.ItemDiv .HouseDiv {
  display: flex;
  flex-direction: row;
  padding: var(--layout-s) 0;
}

.HouseDiv .RoomsDiv {
  width: 40%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--layout-s);
}

.HouseDiv .RoomsDiv:nth-child(2) {
  width: 20%;
}

.HouseDiv .RoomsDiv .Room {
  width: 80%;
  height: 61px;
  border: var(--color-lightgray) 0.5px solid;
  padding: var(--layout-ss);
}

.RoomsDiv .Room .RoomTitle {
  font-size: var(--font-m);
  color: var(--color-gray);
}

.RoomsDiv .Room .RoomContent {
  font-size: var(--font-s);
  color: var(--color-gray);
  text-align: right;
}

.RoomsDiv .EntranceImg {
  width: 50%;
}

.Window {
  min-height: 100%;
  background-color: var(--color-white);
  color: black;
}

.Window .MapContainer {
  width: 100%;
  height: calc(100% - var(--layout-nav-h));
}

.Window .MapContainer .Map {
  width: 100%;
  height: 100%;
}
