html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
}

#App {
  height: 100%;
  width: 100%;
}

.MainDiv {
  margin: 2.5% 2.5%;
  height: 95%;
}

.Header {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}

.Title {
  width: auto;
  align-content: center;
  font-size: 30px;
}

.Nav {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  color: black;
  border: none;
  background-color: #f5f5dc;
}

.Nav .Button {
  width: 150px;
  margin-left: 30px;
}

.ContentDiv {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

.TabTitle {
  justify-content: right;
}
